<p id="notice"><%= notice %></p>

<div class="comments__item">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= @comment.content %>
			</div>
			<div class="panel-footer text-right">
				<%= @comment.author %> on <%= localize(@comment.updated_at, :format => :long) %>
			</div>
		</div>
	</div>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @comment.recipe %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
