<p id="notice">
	<%= notice %>
</p>

<div class="recipes">
	<div class="clearfix">
		<a href="<%= new_recipe_path %>" class="btn btn-primary pull-right" role="button">Add new recipe</a>
	</div>

	<div class="recipes__list">
		<div class="row">

			<% @recipes.each_with_index do |recipe, index| %>
			<% if index % 3 == 0 %>
		</div>
		<div class="row">
			<% end %>
			<a href="<%= recipe_url(recipe) %>">
			<div class="col-sm-6 col-md-4 recipes__item">
				<div class="thumbnail">
					<img src="/assets/<%= recipe.image_url %>" alt="...">
					<div class="caption">
						<h3><%= recipe.title %></h3>
						<ul class="recipes__item__info">
							<li>
								<span class="glyphicon glyphicon-time" aria-hidden="true"></span><%= distance_of_time_in_words(recipe.preparation_time + recipe.cooking_time) %>
							</li>
							<li>
								<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><%= recipe.servings %>
							</li>
						</ul>
						<div class="recipes__item__comment_count text-right">
							<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;<%= recipe.comments.count %>
						</div>
					</div>
				</div>
			</div> </a>
			<% end %>
		</div>
	</div>
</div>
